/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  font-size: 42px;
}
p {
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 1pt solid black;
  text-align: center;
  padding: 10px 0;
}

th {
  border-bottom: 2pt solid black;
  padding: 15px 50px;
  font-size: 22px;
  text-align: center;
}
button {
  cursor: pointer;
}

/* todo-container */
.todo-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* * header */
header {
  padding: 50px 0;
}
#logo {
  margin: 5px 0;
}
#logo-text {
  background: #ff33ff2f;
  margin: 20px 0;
  padding: 4px;
  display: inline-block;
}
.add-task {
  width: 100%;
  display: flex;
  justify-content: end;
}

#add-task-input {
  border: #7ad8d1 1.5px solid;
  border-radius: 7px;
  margin: 0 10px;
  padding: 5px;
  font-size: 18px;
  outline: none;
}

.add-task-btn {
  border: 1.5px solid #7ad8d1;
  background: #fff;
  color: #7ad8d1;
  border-radius: 7px;
  padding: 10px 14px;
}
.add-task-btn:hover {
  background: #7ad8d1;
  color: #fff;
}
.add-task-btn:active {
  background: #0ed1c4;
}
/* !Table */
.overflow {
  overflow-x: auto;
}
/** daily task */
.daily-task {
  margin: 10px;
}

/**todo*/
.todo {
  margin: 10px;
}

th:nth-child(2) {
  min-width: 450px;
}

.status-btn {
  border: 2px solid #909090;
  color: #909090;
  background: none;
  padding: 5px 10px;
  font-size: 16px;
}
.status-btn:hover {
  border: #000 2px solid;
  color: #000;
}
.status-btn:active {
  border-color: transparent;
  background: #000;
  color: #fff;
}
.edit-btn {
  border: 2px solid #7ad8d1;
  color: #7ad8d1;
  padding: 5px;
  background-color: transparent;
}
.edit-btn:hover {
  border: 2px solid #9be623;
  color: #9be623;
}
.edit-btn:active {
  background: #9be623;
  color: #fff;
  border-color: transparent;
}

.remove-btn {
  border: 2px solid #909090;
  color: #909090;
  background: none;
  padding: 5px;
}
.remove-btn:hover {
  border: 2px solid red;
  color: red;
}
.remove-btn:active {
  background: red;
  color: #fff;
  border-color: transparent;
}

.p-0 {
  padding: 10px;
}

/* edit modal */
.modal-edit {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  backdrop-filter: blur(1px);
  transition: all 0.3s ease-in-out;
}

.modal-edit.active {
  display: flex;
  opacity: 1;
}

.modal-content {
  width: 50%;
  background-color: #7ad8d1;
  color: #fff;
  border-radius: 6px;
  padding: 10px 12px;
  box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 28px;
  color: #fff;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #ff595e;
}

.modal-body {
  margin-top: 30px;
}

.modal-body form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-input {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 5px;
  font-size: 20px;
}

.done-btn {
  padding: 5px;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.done-btn:hover {
  color: #256932;
}

/* status btn */
.status-btn.done {
  color: #256931be;
  border-color: #256932be;
}

.status-btn.done:hover {
  color: #256932;
  border-color: #256932;
}

.status-btn.done:active {
  background-color: #256932;
  color: #fff;
}

/* tablet da 
task-name
300-400px orasida  */
/* mobile da 
task-name
200-350px orasida
widht 90% */
/*
  white-space: nowrap;
*/
