/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  font-size: 42px;
}
p {
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 1pt solid black;
  text-align: center;
  padding: 10px 0;
}

th {
  border-bottom: 2pt solid black;
  padding: 15px 50px;
  font-size: 22px;
  text-align: center;
}

/* todo-container */
.todo-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

/* * header */
header {
  padding: 50px 0;
}
#logo {
  margin: 5px 0;
}
#logo-text {
  background: #ff33ff2f;
  margin: 20px 0;
  padding: 4px;
  display: inline-block;
}
.add-task {
  width: 100%;
  display: flex;
  justify-content: end;
}

#add-task-input {
  border: #7ad8d1 1.5px solid;
  border-radius: 7px;
  width: 45%;
  margin: 0 10px;
  padding: 5px;
  font-size: 18px;
  outline: none;
}

.add-task-btn {
  border: 1.5px solid #7ad8d1;
  background: #fff;
  color: #7ad8d1;
  border-radius: 7px;
  display: flex;
  justify-content: end;
  padding: 10px 14px;
}
.add-task-btn:hover {
  background: #7ad8d1;
  color: #fff;
}
.add-task-btn:active {
  background: #0ed1c4;
}
/* !Table */
.table {
  overflow-x: auto;
}
/** daily task */
.daily-task {
  margin: 10px;
  padding-bottom: 10px;
}

/**todo*/
.todo {
  margin: 10px;
  width: 100%;
}

.status-btn {
  border: 2px solid #909090;
  color: #909090;
  background: none;
  padding: 5px 10px;
  font-size: 16px;
}
.status-btn:hover {
  border: #000 2px solid;
  color: #000;
}
.status-btn:active {
  border: none;
  background: #000;
  color: #fff;
}
.edit-btn {
  border: 2px solid #7ad8d1;
  background: none;
  color: #7ad8d1;
  padding: 5px;
}
.edit-btn:hover {
  border: 2px solid #9be623;
  color: #9be623;
}
.edit-btn:active {
  background: #9be623;
  color: #fff;
  border: none;
}

.remove-btn {
  border: 2px solid #909090;
  color: #909090;
  background: none;
  padding: 5px;
}
.remove-btn:hover {
  border: 2px solid red;
  color: red;
}
.remove-btn:active {
  background: red;
  color: #fff;
  border: none;
}

.number {
  text-align-last: left;
  padding: 0;
}

.task-number {
  text-align: left;
}


